<article class="article" id="creating_an_alert">

  <header class="header">
    <h1>Creating an alert</h1>
    <p>
      Creating an alert is quick and easy, just following these simple steps to become alert!
    </p>
  </header>
  
  <div class="body">
    <ol>
      <li class="point"> 
        <p>
          First of all, choose "Alerts" from the menu above.
        </p>
      </li>
      <li class="point highlight">
        <p>
          <%= image_tag "help/creating_an_alert/select_service.png" %>
          Then, choose Facebook or Twitter from the drop-down menu.
        </p>
      </li>
      <li class="point highlight">
          <%= image_tag "help/creating_an_alert/enter_facebook_page.png" %>
        <p>If you chose Facebook, enter the name or address of the page you want to create an alert for.
      </li>
      <li class="point highlight">
        <%= image_tag "help/creating_an_alert/select_twitter_type.png" %>
        <p>If you chose Twitter, you must first select whether to create an alert for a user or a search term.
      </li>
      <li class="point highlight">
        <%= image_tag "help/creating_an_alert/enter_twitter_screen_name.png" %>
        <%= image_tag "help/creating_an_alert/enter_twitter_search_terms.png" %>
        <p>Once you have selected the alert type, enter the screen name or search term in the field.
      </li>
    </ol>
  </div>
  
</article>
