<section id="help">
  <ul class="menu">
    <li><h2>Dealing with alerts</h2></li>
    <li><a href="#creating_an_alert" class="active">Creating an alert</a></li>
    <li><a href="#scheduling_an_alert">Scheduling an alert</a></li>
    <li><a href="#deleting_an_alert">Deleting an alert</a></li>

    <li><h2>Account &amp; Settings</h2></li>
    <li><a href="#change_email">Change e-mail</a></li>

    <li><h2>Coping with modern life</h2></li>
    <li><a href="#how_to_tie_your_shoes">How to tie your shoes</a></li>
    <li><a href="#how_to_use_a_paper_towel">How to use a paper towel</a></li>
    <li><a href="#how_to_be_happy">How to be happy</a></li>
  </ul>

  <%= render "creating_an_alert" %>
  <%= render "scheduling_an_alert" %>
  <%= render "deleting_an_alert" %>

  <%= render "change_email" %>

  <%= render "how_to_tie_your_shoes" %>
  <%= render "how_to_use_a_paper_towel" %>
  <%= render "how_to_be_happy" %>
</section>
